@model PontoAll_2810.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Nome)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perfil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.CPF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Voltar para lista</a>
</div>
