@model PontoAll_2810.Models.BancoHoras

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>@Html.DisplayFor(modelItem => Model.Matricula)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocorrencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocorrencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notificacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notificacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoBancoHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoBancoHoras)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.IdBancoHoras">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Voltar para lista</a>
</div>
